<div class="products">
<div class="product">
<img src="assets/SSD.png" alt="SSD">
  <p></p>
<a href="https://kaspi.kz/shop/p/ssd-kingston-sa400s37-480-gb-6800659/?c=750000000" target="_blank" >
  SSD Kingston SA400S37 480 ГБ</a>
<p>SSD-накопитель Kingston A400 имеет достаточно большую емкость (480 ГБ). Такого объема достаточно не только для
  установки операционной системы, но и для множества программ, а, возможно, и нескольких игр. Использование SSD сделает
  скорость работы системы в 10 раз выше, чем она была бы с HDD. Запуск компьютера будет занимать считанные секунды,
  файлы будут открываться и сохраняться быстрее. Ускорится даже загрузка файлов из Интернет, так как они будут
  записываться на накопитель практически мгновенно.</p>
  <p class="price">17 499 ₸</p>
  <p class="rating">(616 отзывов)</p>
<img src="assets/rating.png" alt="rating">
</div>
<div class="product">
  <img src="assets/RAM.png" alt="RAM">
  <p></p>
  <a href="https://kaspi.kz/shop/p/kingston-fury-beast-kf432c16bbk2-16-16-gb-101900315/?c=750000000" target="_blank" >
    Оперативная память Kingston Fury Beast KF432C16BBK2/16 16 Гб</a>
  <p>Компания Kingston с гордостью представляет Kingston FURY — бренд высокопроизводительных продуктов для геймеров
    и энтузиастов. Опыт Kingston в разработке и производстве памяти и хранилищ файлов (воплощением которого стали
    продукты HyperX DRAM, флэш-память и твердотельные накопители) помогает компании в течение двух десятилетий
    оставаться ключевым выбором энтузиастов и геймеров. Kingston FURY — это поколение высокопроизводительных устройств
    памяти и решений для хранения данных, предназначенных для энтузиастов, геймеров и создателей контента. Kingston FURY
    продолжает традицию производства самой производительной и надёжной памяти DRAM на рынке.</p>
  <p class="price">23 876 ₸</p>
  <p class="rating">(105 отзывов)</p>
  <img src="assets/rating.png" alt="rating">
</div>
  <div class="product">
    <img src="assets/GPU.png" alt="GPU">
    <p></p>
    <a href="https://kaspi.kz/shop/p/zotac-gaming-rtx-4060-twin-edge-zt-d40600e-10m-8-gb-112525286/?c=750000000" target="_blank" >
      Видеокарта ZOTAC GAMING RTX 4060 Twin Edge ZT-D40600E-10M 8 Гб</a>
    <p>Технологии:nVidia 3D Vision, 4K (поддержка мониторов ultraHD), 8K (поддержка мониторов ultra HD), DIRECTX 12 ULTIMATE, NVIDIA ANSEL В VR-играх,
      Adaptive V-Sync (адаптивная вертикальная синхронизация), CUDA (архитектура параллельных вычислений Nvidia), DirectX Raytracing,
      Драйверы GAME READY, GeForce Experience (Утилита для автоматической оптимизации настроек), HDMI, MFAA (многокадровое сглаживание),
      NVIDIA Adaptive Shading, NVIDIA Ampere, NVIDIA Ansel (создание игровых фотографий профессионального качества), NVIDIA DLSS (прогрессивный метод сглаживания),
      NVIDIA G-SYNC (плавный вывод кадров на монитор), NVIDIA Pascal, NVIDIA PhysX-ready, NVIDIA Reflex, Nvidia Studio, NVIDIA Turing, NVIDIA TURING (технологии искусственного интеллекта и трассировки лучей в реальном времени),
      Технология NVIDIA TXAA, Технология NVIDIA MFAA, TXAA (временное сглаживание), VR Ready (поддержка виртуальной реальности)</p>
    <p class="price">188 000 ₸</p>
    <p class="rating">(17 отзывов)</p>
    <img src="assets/rating.png" alt="rating">
  </div>
</div>
<div class="products">
  <div class="product">
    <img src="assets/CPU.png" alt="CPU">
    <p></p>
    <a href="https://kaspi.kz/shop/p/intel-core-i5-12400f-oem-103698110/?c=750000000" target="_blank" >
      Процессор Intel Core i5 12400F OEM</a>
    <p>Процессор Intel Core i5-12400F – чип со сбалансированной производительностью. Можно использовать его для создания
      различных сборок. При изготовлении применялся технологический процесс 7 нм. Он позволяет добиться небольшого
      потребления энергии и тепловыделения. Процессор выполнен с применением архитектуры Alder Lake. Она позволила
      поднять производительность в сравнении с чипами прошлого поколения. Используется шесть ядер и двенадцать потоков
      для обработки информации.</p>
    <p class="price">65 400 ₸</p>
    <p class="rating">(62 отзывов)</p>
    <img src="assets/rating.png" alt="rating">
  </div>
  <div class="product">
    <img src="assets/PSU.png" alt="PSU">
    <p></p>
    <a href="https://kaspi.kz/shop/p/deepcool-pf650-650-vt-104151992/?c=750000000" target="_blank" >
      Блок питания Deepcool PF650 650 Вт</a>
    <p>Блок питания DEEPCOOL PF650 [R-PF650D-HA0B-EU] с мощностью по всем линиям на выходе 650 Вт достаточно
      производителен, чтобы обеспечивать питание всем модулям игрового системного блока. В этом устройстве предусмотрены
      кабели черного цвета, на которых установлены как основной разъем питания, так и интерфейс 4+4 pin CPU для
      подключения ЦПУ, разъемы для SATA-накопителей (до 6 шт) и видеокарт (до 4 шт). Сетевой кабель поставляется вместе
      с БП, рассчитанным на работу при входном напряжении 200-240 В.</p>
    <p class="price">25 990 ₸</p>
    <p class="rating">(22 отзывов)</p>
    <img src="assets/rating.png" alt="rating">
  </div>
  <div class="product">
    <img src="assets/MOBO.png" alt="MOBO">
    <p></p>
    <a href="https://kaspi.kz/shop/p/gigabyte-b760m-ds3h-ddr4-108631106/?c=750000000" target="_blank" >
      Материнская плата GIGABYTE B760M DS3H DDR4</a>
    <p>Материнская плата GIGABYTE B760M DS3H DDR4 представляет собой надежную и функциональную основу для сборки
      компьютера. Она поддерживает процессоры Intel с сокетом LGA 1700 и оперативную память DDR4. Обладает
      разнообразными портами для подключения устройств, включая USB, HDMI, и разъемы для расширения. Включает в себя
      функции защиты и улучшенное охлаждение, обеспечивая стабильную работу системы. Идеальный выбор для создания
      мощной и надежной рабочей или игровой платформы.</p>
    <p class="price">54 990 ₸</p>
    <p class="rating">(16 отзывов)</p>
    <img src="assets/rating.png" alt="rating">
  </div>
</div>
<div class="products">
  <div class="product">
    <img src="assets/CASE.png" alt="CASE">
    <p></p>
    <a href="https://kaspi.kz/shop/p/darkflash-dk351-belyi-109842079/?c=750000000" target="_blank" [(ngModel)]="link">
      Корпус DarkFlash DK351 белый</a>
    <p>Корпус DarkFlash DK351 в белом цвете — стильный и функциональный выбор для компьютерной сборки. Его современный
      дизайн с прозрачной боковиной позволяет впечатлить не только внешним видом, но и возможностями. Снабженный
      удобными разъемами и системой вентиляции, DK351 обеспечивает оптимальные условия для работы высокопроизводительных
      компонентов и эффективного охлаждения. Корпус также предлагает гибкую систему кабельного управления, обеспечивая
      легкость в сборке и обслуживании.</p>
    <p class="price">24 990 ₸</p>
    <p class="rating">(22 отзывов)</p>
    <img src="assets/rating.png" alt="rating">
    <button (click)="telegram()" >y</button>
  </div>
  <div class="product">
    <img src="assets/COOL.png" alt="COOl">
    <p></p>
    <a href="https://kaspi.kz/shop/p/darkflash-ice200-pro-112472129/?c=750000000" target="_blank" >
      Кулер DarkFlash ICE200 PRO</a>
    <p>Кулер DarkFlash ICE200 PRO - это высокоэффективное решение для охлаждения процессоров. Обладая эффективной
      системой теплоотвода и мощным вентилятором, он обеспечивает надежное и эффективное охлаждение даже при высоких
      нагрузках. Компактный дизайн и низкий уровень шума делают его отличным выбором для игровых и производительных систем.</p>
    <p class="price">3 800 ₸</p>
    <p class="rating">(33 отзывов)</p>
    <img src="assets/rating.png" alt="rating">
  </div>
  <div class="product">
    <img src="assets/THERM.png" alt="THERM">
    <p></p>
    <a href="https://kaspi.kz/shop/p/termopasta-arctic-mx-4-4-g-109576930/?c=750000000" target="_blank" >
      Термопаста Arctic MX-4 4 г</a>
    <p>Arctic MX-4 4 г - это высококачественная термопаста, разработанная для эффективного охлаждения процессоров и
      других компонентов компьютера. Составленная из неметаллических материалов, она обеспечивает отличную
      теплопроводность и долговечность. Проста в применении благодаря удобной текстуре, не требует прогрева перед
      использованием. MX-4 обеспечивает надежное сцепление между поверхностями и эффективно снижает температуру, что
      делает ее идеальным выбором для любых сборок ПК.</p>
    <p class="price">1 150 ₸</p>
    <p class="rating">(122 отзывов)</p>
    <img src="assets/rating.png" alt="rating">
  </div>
</div>
